body {
    font: Arial,sans-serif;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #555;
    width: 100vw;
    overflow-x: hidden;
}
ul, li, p {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.bg-white {
    background-color: #fff;
}
.tuandui-item {
    box-sizing: border-box;
}
.tuandui-item .question {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #333;
    text-align: left;
}
.wgt-middle-content {
    width: 1052px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.wgt-middle-content .tuandui-title {
    font-size: 36px;
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #333;
}
.wgt-middle-content .tuandui-title .title-icon{
    background: url('img/title-icon.png') no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 25px;
    height: 22px;
    margin: 0 5px;
}
.wgt-middle-content .tips {
    line-height: 24px;
    text-align: left;
    color: #59c06c;
}
/* header */
.header {
    background-color: #55ba87;
    background-image: linear-gradient(90deg,#53b69f,#58c06a);
    height: 635px;
}
.header .left-title {
    position: relative;
    float: left;
    left: -17px;
    width: 356px;
    padding-top: 195px;
    text-align: center;
}
.header .left-title .sub-title{
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    margin: 30px 0 20px 0;
    position: relative;
}
.header .left-title .sub-title::before{
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .7));
    left: 8px;
    top: 12px;
}
.header .left-title .sub-title::after{
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background-image: linear-gradient(270deg, transparent, rgba(255, 255, 255, .7));
    right: 8px;
    top: 12px;
}
.header .left-title .creat-btn{
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #90d5b1;
    border-radius: 10px;
    font-size: 20px;
    color: #387e6b;
    cursor: pointer;
    text-decoration: none;
}
.header .left-title .creat-btn .creat-icon {
    background: url('img/creat-icon.png') no-repeat center;
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.header .header-pic {
    position: absolute;
    right: -59px;
    top: 95px;
}
.header .header-pic img{
    width: 720px;
}
.header .bg-left {
    position: absolute;
    top: 135px;
    left: -672px;
    width: 632px;
    height: 380px;
    background: url('img/airplane-1.png') no-repeat center;
    background-size: contain;
}
.header .bg-right {
    position: absolute;
    right: -632px;
    width: 632px;
    height: 474px;
    background: url('img/airplane-2.png') no-repeat center;
    background-size: contain;
}
/* header end */

.familiar {
    height: 450px;
}
.familiar .tuandui-title{
    padding: 90px 0 45px;
}
.familiar .content-left {
    width: 50%;
    float: left;
    text-align: left; 
}

.familiar .content-left .answer-ul li{
    line-height: 16px;
    padding-bottom: 10px;
}
.familiar .content-right {
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    float: left;
    padding-left: 80px;
}
.familiar .content-right .answer-table {
    margin-top: -10px;
}
.familiar .content-right td {
    vertical-align: top;
}
/* familiar end */

.join {
    height: 354px;
    background: #edf8f2;
}
.join .tuandui-title{
    padding: 75px 0 60px;
}
.join .join-table{
    text-align: left;
    width: 430px;
}
.join .join-table td {
    vertical-align: top;
}
/* join end */
.join-step-two {
    height: 296px;
    background-color: #55ba87;
    background-image: linear-gradient(90deg,#53b69f,#58c06a);
    text-align: left;
    color: #fff;
}
.join-step-two .join-two-question {
    text-align: left;
    padding: 95px 0 20px;
    font-size: 20px;
    font-weight: bold;
}
.join-step-two .join-two-table {
    text-align: left;
}
.join-step-two .man-pic {
    position: absolute;
    right: 0;
    width: 470px;
    bottom: 0;
}
.join-step-two .bg-right {
    position: absolute;
    bottom: 54px;
    right: -326px;
    width: 326px;
    height: 200px;
    background: url('img/airplane-1.png') no-repeat center;
    background-size: contain;
}
/* join-step-two end */
.leader {
    height: 800px;
}
.leader .tuandui-title {
    padding: 75px 0 65px;
}
.leader .table-title {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
}
.leader .content-left {
    width: 524px;
    float: left;
    text-align: left;
}
.leader .content-left table{
    width: 427px;
}
.leader .content-left table td{
    vertical-align: top;
}
.leader .content-left .table-left-top {
    margin-bottom: 35px;
}
.leader .content-right {
    float: left;
}
.leader .content-right .wgt-table-right {
    width: 528px;
}
.leader .content-right .table-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #59c06c;
    color: #fff;
    text-align: center
}
.leader .content-right .table-right {
    border-collapse: collapse;
    width: 100%;
}
.leader .content-right .table-right td{
    border: 1px solid #828282;
}
.leader .content-right .table-right .alt{
    background-color: #eaf6ef;
}
.leader .content-right .table-right tr{
    height: 54px;
}
.leader .content-right .table-right .first-row{
    height: 106px;
}
/* leader end */

.level {
    height: 1100px;
    background: #edf8f2;
}
.level .tuandui-title {
    padding: 80px 0 58px;
}
.level .question {
    margin-bottom: 25px;
}
.level .top-content {
    height: 150px;
}
.level .top-content .content-top-left, .content-top-right{
    float: left;
    width: 50%;
    text-align: left;
    box-sizing: border-box;
}
.level .top-content .content-top-right{
    padding-left: 45px;
}
.level .top-content p {
    line-height: 28px;
}
.level .level-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 60px;
}
.level .level-table td{
    border: 1px solid #828282;
}
.level .level-table .alt{
    background-color: #fff;
}
.level .level-table tr{
    height: 66px;
}
.level .level-table .first-row {
    background-color: #59c06c;
    color: #fff;
}
.level .level-table .first-row td{
    border: 1px solid #edf8f2;
}
.level .bg-left {
    position: absolute;
    bottom: 0px;
    left: -624px;
    width: 552px;
    height: 992px;
    background: url('img/picture-puzzle-1.png') no-repeat center;
    background-size: contain;
}
.level .bg-right {
    position: absolute;
    top: 0;
    right: -724px;
    width: 600px;
    height: 446px;
    background: url('img/picture-puzzle-2.png') no-repeat center;
    background-size: contain;
}
/* level end */

.violations {
    height: 636px;
}
.violations .tuandui-title {
    padding: 100px 0 55px;
}
.violations .violations-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}
.violations .violations-table td {
    border: 1px solid #828282;
}
.violations .violations-table .first-row {
    height: 90px;
}
.violations .violations-table .second-row {
    height: 134px;
}
.violations .violations-table .first-column {
    background-color: #59c06c;
    color: #fff;
    border: 1px solid #edf8f2;
}
.violations .violations-table td:nth-child(2),
.violations .violations-table td:nth-child(4),
.violations .violations-table td:nth-child(6),
.violations .violations-table td:nth-child(8){
    background-color: #edf8f2;
}
.violations .violations-info {
    margin-top: 35px;
    text-align: left;
}
/* violations end */
.merge {
    height: 838px;
    background: #edf8f2;
}
.merge .tuandui-title {
    padding: 114px 0 50px;
}
.merge .merge-info {
    text-align: left;
    line-height: 28px;
}
.merge .merge-table {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0 35px;
}
.merge .merge-table td {
    border: 1px solid #828282;
    position: relative;
}
.merge .merge-table .arrow {
    position: absolute;
    display: block;
    bottom: -30px;
    left: 70px;
    width: 25px;
    height: 50px;
    background: url('img/arrow.png') no-repeat center;
    background-size: contain;
    z-index: 1;
}
.merge .merge-table .first-column {
    background-color: #59c06c;
    color: #fff;
    border: 1px solid #edf8f2;
}
.merge .bg-left {
    position: absolute;
    top: 0px;
    left: -727px;
    width: 600px;
    height: 372px;
    background: url('img/picture-puzzle-3.png') no-repeat center;
    background-size: contain;
}
.merge .bg-right {
    position: absolute;
    bottom: 0;
    right: -678px;
    width: 484px;
    height: 374px;
    background: url('img/picture-puzzle-4.png') no-repeat center;
    background-size: contain;
}
/* merge end */
.bottom {
    height: 386px;
    background-color: #55ba87;
    background-image: linear-gradient(90deg,#53b69f,#58c06a);
}
.bottom .wgt-middle-content {
    padding-top: 1px;
    height: 385px;
}
.bottom .woman-icon {
    width: 450px;
    height: 280px;
    position: absolute;
    left: 80px;
    top: -54px;
}
.bottom .bottom-txt {
    width: 396px;
    height: 216px;
    background: url('img/border.png') no-repeat center;
    background-size: contain;
    margin: 48px 0 0 616px;
    box-sizing: border-box;
    padding: 56px 0 0 52px;
    text-align: left;
}
.bottom .bottom-logo {
    display: inline-block;
    width: 140px;
    height: 46px;
    margin-top: 45px;
}
.bottom .bg-left {
    position: absolute;
    top: 154px;
    left: -417px;
    width: 400px;
    height: 52px;
    background: url('img/airplane-3.png') no-repeat center;
    background-size: contain;
}
.bottom .bg-right {
    position: absolute;
    top: 110px;
    right: -507px;
    width: 472px;
    height: 100px;
    background: url('img/airplane-4.png') no-repeat center;
    background-size: contain;
}

